# SPDX-FileCopyrightText: © 2025 Menacit AB <foss@menacit.se>
# SPDX-License-Identifier: CC-BY-SA-4.0
python-openstackclient==7.2.1
python-octaviaclient==3.9.0
python-cinderclient==9.6.0
ansible==11.1.0
ansible-lint==24.12.2
